{% extends 'main/base.html' %}
{% load static %}
{% block content %}
        <!-- Main -->
        <br><br><br><br><br><br>

        <main>
            <div class="position-fixed top-0 bottom-0 start-0 end-0 pe-none bg-effect">
                <div class="bg-ef-1"></div>
                <div class="bg-ef-2"></div>
                <div class="bg-ef-3"></div>
                <div class="bg-ef-4"></div>
            </div>
            <!-- Section -->
            <section class="section pt-6">
                <div class="container position-relative">
                    <div class="row gy-5 align-items-start">
                        <div class="col-lg-6 col-xxl-6 pe-lg-5 pe-xl-8 sticky-lg-top"><img class="rounded-3 w-100" src="{% static 'assets/img/product-5.jpg' %}" title="" alt="">
                            <div class="d-flex align-items-center justify-content-center mt-4">
                                <div class="border border-gray-300 rounded-3 d-flex p-3"><a data-bs-toggle="tooltip" data-bs-original-title="wishlist" class="mx-1 btn btn-border-mode p-0 icon-md rounded-3" href="#"><i class="fi-heart"></i></a> <a data-bs-toggle="tooltip" data-bs-original-title="Share" class="mx-1 btn btn-border-mode p-0 icon-md rounded-3" href="#"><i class="fi-share"></i></a> <a data-bs-toggle="tooltip" data-bs-original-title="Refresh" class="mx-1 btn btn-border-mode p-0 icon-md rounded-3" href="#"><i class="bi-arrow-repeat"></i></a> <a data-bs-toggle="tooltip" data-bs-original-title="Report" class="mx-1 btn btn-border-mode p-0 icon-md rounded-3" href="#"><i class="bi-flag"></i></a></div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xxl-6">
                            <div class="d-flex fs-sm pb-2">PLUR Official <i class="bi-patch-check-fill text-primary ms-2"></i></div>
                            <h1>Plur.venom</h1>
                            <div class="d-flex pt-2">
                                <div><span>Owned by</span> <a href="#">PLURDeployer</a></div>
                                <div class="ms-auto d-flex fs-sm">
                                    <div class="text-mode pe-3"><i class="fi-heart"></i> 25</div>
                                    <div class="text-mode"><i class="fi-eye"></i> 25k</div>
                                </div>
                            </div>
                            <div class="border border-gray-300 p-3 rounded-3 mt-3">
                                
                                <div class="pt-2">
                                    <label class="pb-2">FIXED PRICE</label>
                                    <div class="d-flex align-items-center"><span class="h4 m-0 pe-3"><img src="https://avatars.githubusercontent.com/u/104076707?s=200&v=4" height="30px" width="30px"> 0.044</span> <span>$65.00</span></div>
                                </div>
                                <div class="pt-3"><a class="btn btn-lg btn-gradient w-100" href="#"><i class="bi-tags"></i> Transfer Name</a></div>
                                <div class="pt-3"><a class="btn btn-lg btn-gradient w-100" href="#"><i class="bi-tags"></i> List on Marketplace</a></div>
                            </div>
                            <div class="accordion-style-01 mt-3">
                                <div class="accordion" id="explor_details">
                                    
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="ex_de_heading_02"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#ex_de_02" aria-expanded="false" aria-controls="ex_de_02"><i class="bi-list-ul"></i> Properties</button></h2>
                                        <div id="ex_de_02" class="accordion-collapse collapse" aria-labelledby="ex_de_heading_02" data-bs-parent="#explor_details">
                                            <div class="accordion-body">
                                                <div class="row g-2">
                                                    <div class="col-6"><a class="border border-gray-300 px-3 py-2 small rounded text-reset d-block" href="#"><h6 class="text-secondary mb-1 small">Block</h6><div class="text-mode m-0 lh-sm">Data</div><span class="small d-flex pt-1">1.8% rarity <span class="ms-auto"><i class="cf cf-eth"></i> 0.007</span></span></a></div>
                                                    <div class="col-6"><a class="border border-gray-300 px-3 py-2 small rounded text-reset d-block" href="#"><h6 class="text-secondary mb-1 small">Generation</h6><div class="text-mode m-0 lh-sm">Genesis</div><span class="small d-flex pt-1">0.6% rarity <span class="ms-auto"><i class="cf cf-eth"></i> 0.007</span></span></a></div>
                                                    <div class="col-6"><a class="border border-gray-300 px-3 py-2 small rounded text-reset d-block" href="#"><h6 class="text-secondary mb-1 small">Series</h6><div class="text-mode m-0 lh-sm">Maroon</div><span class="small d-flex pt-1">0.6% rarity <span class="ms-auto"><i class="cf cf-eth"></i> 0.007</span></span></a></div>
                                                    <div class="col-6"><a class="border border-gray-300 px-3 py-2 small rounded text-reset d-block" href="#"><h6 class="text-secondary mb-1 small">Block</h6><div class="text-mode m-0 lh-sm">Data</div><span class="small d-flex pt-1">1% trait <span class="ms-auto"><i class="cf cf-eth"></i> 0.007</span></span></a></div>
                                                    <div class="col-6"><a class="border border-gray-300 px-3 py-2 small rounded text-reset d-block" href="#"><h6 class="text-secondary mb-1 small">Tier</h6><div class="text-mode m-0 lh-sm">Pnk Undrwarld Wingz</div><span class="small d-flex pt-1">0.6% rarity <span class="ms-auto"><i class="cf cf-eth"></i> 0.007</span></span></a></div>
                                                    <div class="col-6"><a class="border border-gray-300 px-3 py-2 small rounded text-reset d-block" href="#"><h6 class="text-secondary mb-1 small">Generation</h6><div class="text-mode m-0 lh-sm">Genesis</div><span class="small d-flex pt-1">0.6% rarity <span class="ms-auto"><i class="cf cf-eth"></i> 0.007</span></span></a></div>
                                                    <div class="col-6"><a class="border border-gray-300 px-3 py-2 small rounded text-reset d-block" href="#"><h6 class="text-secondary mb-1 small">Fur</h6><div class="text-mode m-0 lh-sm">Maroon</div><span class="small d-flex pt-1">15% trait <span class="ms-auto"><i class="cf cf-eth"></i> 0.007</span></span></a></div>
                                                    <div class="col-6"><a class="border border-gray-300 px-3 py-2 small rounded text-reset d-block" href="#"><h6 class="text-secondary mb-1 small">Series</h6><div class="text-mode m-0 lh-sm">Series One</div><span class="small d-flex pt-1">0.6% rarity <span class="ms-auto"><i class="cf cf-eth"></i> 0.007</span></span></a></div>
                                                    <div class="col-6"><a class="border border-gray-300 px-3 py-2 small rounded text-reset d-block" href="#"><h6 class="text-secondary mb-1 small">Tier</h6><div class="text-mode m-0 lh-sm">Pnk Undrwarld Wingz</div><span class="small d-flex pt-1">0.6% rarity <span class="ms-auto"><i class="cf cf-eth"></i> 0.007</span></span></a></div>
                                                    <div class="col-6"><a class="border border-gray-300 px-3 py-2 small rounded text-reset d-block" href="#"><h6 class="text-secondary mb-1 small">Glasses</h6><div class="text-mode m-0 lh-sm">Violet Goggles</div><span class="small d-flex pt-1">2% have this trait <span class="ms-auto"><i class="cf cf-eth"></i> 0.007</span></span></a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="ex_de_heading_03"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#ex_de_03" aria-expanded="false" aria-controls=" ex_de_03"><i class="bi-text-paragraph"></i> Collection Details</button></h2>
                                        <div id="ex_de_03" class="accordion-collapse collapse" aria-labelledby="ex_de_heading_03" data-bs-parent="#explor_details">
                                            <div class="accordion-body">
                                                <div class="d-flex align-items-center mb-4">
                                                    <div class="avatar"><img class="avatar-img rounded-circle" src="{% static 'assets/img/avatar-1.jpg' %}" title="" alt=""></div>
                                                    <div class="col ps-3">
                                                        <h6 class="m-0 pb-1">PLUR Official <i class="bi-patch-check-fill text-primary ms-2"></i></h6><span class="text-opacity-85 fw-600 fs-sm d-block pb-1">0x8e37…4941 <i class="bi bi-box-arrow-up-right"></i></span></div>
                                                    <div><a class="btn btn-border-mode icon-md rounded-circle p-3" href="#"><i class="bi-globe"></i></a></div>
                                                </div>
                                                <div class="row gx-2">
                                                    <div class="col-4 position-relative pe-4"><span>Items</span>
                                                        <h6 class="fw-400 m-0">8.59K</h6>
                                                        <div class="vr position-absolute top-0 bottom-0 end-0 me-4"></div>
                                                    </div>
                                                    <div class="col-4 position-relative pe-4"><span>Owners</span>
                                                        <h6 class="fw-400 m-0">2.39K</h6>
                                                        <div class="vr position-absolute top-0 bottom-0 end-0 me-4"></div>
                                                    </div>
                                                    <div class="col-4 position-relative pe-4"><span>VOL</span>
                                                        <h6 class="fw-400 m-0">96.27 Ξ</h6></div>
                                                </div>
                                                <div class="row gx-2 pt-4">
                                                    <div class="col-4 position-relative pe-4"><span>Floor</span>
                                                        <h6 class="fw-400 m-0">0.0421 Ξ</h6>
                                                        <div class="vr position-absolute top-0 bottom-0 end-0 me-4"></div>
                                                    </div>
                                                    <div class="col-4 position-relative pe-4"><span>ROYALTY</span>
                                                        <h6 class="fw-400 m-0">5%</h6>
                                                        <div class="vr position-absolute top-0 bottom-0 end-0 me-4"></div>
                                                    </div>
                                                </div>
                                                <div class="pt-4"><a class="btn btn-sm btn-border-mode" href="#">Make a Collection Offer</a></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="ex_de_heading_04"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#ex_de_04" aria-expanded="false" aria-controls="ex_de_04"><i class="bi-info-circle"></i> Token Details</button></h2>
                                        <div id="ex_de_04" class="accordion-collapse collapse" aria-labelledby="ex_de_heading_04" data-bs-parent="#explor_details">
                                            <div class="accordion-body">
                                                <div class="row mb-2">
                                                    <div class="col-7">
                                                        <h6 class="m-0 fw-400">Contract Address</h6></div>
                                                    <div class="col-5 text-end"><a href="#">0x8e37...4941</a></div>
                                                </div>
                                                <div class="row mb-2">
                                                    <div class="col-7">
                                                        <h6 class="m-0 fw-400">Token ID</h6></div>
                                                    <div class="col-5 text-end"><a href="#">6791</a></div>
                                                </div>
                                                <div class="row mb-2">
                                                    <div class="col-7">
                                                        <h6 class="m-0 fw-400">Token Standard</h6></div>
                                                    <div class="col-5 text-end"><span>ERC-721</span></div>
                                                </div>
                                                <div class="row mb-2">
                                                    <div class="col-7">
                                                        <h6 class="m-0 fw-400">Chain</h6></div>
                                                    <div class="col-5 text-end"><span>Venom</span></div>
                                                </div>
                                                <div class="row mb-2">
                                                    <div class="col-7">
                                                        <h6 class="m-0 fw-400">Creator Fee</h6></div>
                                                    <div class="col-5 text-end"><span>2%</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Section -->
        </main>
        <!-- End Main -->
{% endblock %}